name: Publish npm packages
concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
on:
  workflow_dispatch:
    inputs:
      npm-token:
        description: npm token to be used to publish npm packages
        required: false

jobs:
  publish:
    name: Publish npm packages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - uses: ./.github/actions/setup

      - name: Publish npm packages
        run: pnpm run release
        env:
          NPM_TOKEN: ${{ inputs.npm-token }}
